.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.campo-futebol {
  justify-items: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  position: relative;
  height: 600px; /* Altura do campo */
  border: 2px solid green; /* Bordas do campo */
  background-color: #008000; /* Cor do campo */
  border-radius: 10px; /* Bordas arredondadas */
  color: #fff;
  font-weight: 800;
}

.jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.jogador-imagem {
  width: 80px; /* Tamanho da imagem do jogador */
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.goleiro {
  top: 0%;
  position: relative;
}

.linha-laterais {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.linha-laterais .jogador {
  text-align: center;
}

.linha-zagueiros {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.linha-meio-campistas {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.linha-atacantes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .linha-zagueiros {
    position: relative;
    top: -25%;
    justify-content: space-evenly;
  }

  .linha-laterais {
    position: relative;
    top: 15%;
  }

  .linha-meio-campistas {
    position: relative;
    top: -5%;
    left: 2%;
  }

  /* .linha-laterais, .linha-zagueiros, .linha-meio-campistas, .linha-atacantes {
    flex-direction: column;
    align-items: center;
  } */

  .linha-laterais .jogador,
  .linha-zagueiros .jogador,
  .linha-meio-campistas .jogador,
  .linha-atacantes .jogador {
    margin: 10px 0;
  }

  .goleiro div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

button {
  background: linear-gradient(45deg, #1d3557, #457b9d);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 50%;
  max-width: 250px;
  margin: 20px auto;
  display: block;
}

h1 {
  text-align: center;
}

